<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <title>login</title>
</head>
<body>
     
    <div class="container">
        <div class="row">
          <div class="col-sm">
            
          </div>
          <div class="col-sm">
            <h2>iniciar sesion</h2>
            <form action="/login" method="POST">
                <div class="form-group">
                  <label for="exampleInputEmail1">correro Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" 
                  aria-describedby="emailHelp" placeholder="alguien@gmail.com"
                  name="email" required>
                  <small id="emailHelp" class="form-text text-muted">ingrese su email</small>
                </div>
                <div class="form-group">
                  <label >Password</label>
                  <input type="password" class="form-control"                   id="exampleInputPassword" name="pas" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">ingresar</button>
            </form>
          </div>
          <div class="col-sm">
            
          </div>
        </div>
      </div>  
</body>
</html>